@model WebAppIDEEngine.Models.Core.Property

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/System/Views/Shared/_Layout.cshtml";

}

<h2>Details</h2>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameInModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameInModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameInTable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameInTable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PropertyType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PropertyInDatabaseType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PropertyInDatabaseType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotMapped)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotMapped)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Distinct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distinct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nullable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nullable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NavigationProperty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NavigationProperty.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
